@layer component {
  body > header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
    padding-block: 1rem;
    padding-inline: 16px;

    nav > ul {
      display: flex;
      gap: 1rem;
    }
  }
}
