@layer second, first;

@layer first {
  h1 {
    color: violet;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-block: calc((1em - 1lh) / 2);
}

div:has(> p) {
  display: grid;
  row-gap: 20px;
}
